#topnav {

}

.jumbotron {
  background: url('http://goo.gl/04j7Nn') center center no-repeat;
  height: 100%;
  width: 100%;
  color: grey;
  background-color: #010101;
}
.jumbotron .container {
  position: relative;
  top:50px;
}
h1{

}
h2{
	color: ;
}
h3 {
   color: #007FFF;
}
a {
	color: #007fff;
}